@{ 
    ViewBag.Title = "关于 - 果壳园";
}
    <div> 
        <input type="button" value="发送" onclick="send();"/>
    </div>
    <script>
        function send() {
            $.post("/home/send", {}, function (data) {

            });
        }
    </script>
