
@{
    ViewBag.Title = "BlogList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section style{
    <style>
        .text-center {
            text-align: center !important;
        }
    </style>
}

<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">文章列表</div>

                </div>
                <div class="widget-body  am-fr">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="am-u-sm-12">
                        <table class="am-table am-table-compact am-table-striped tpl-table-black " id="list">
                            <thead>
                                <tr>
                                    <th width="40">
                                        <input type="checkbox" class="checkall" />
                                    </th>
                                    <th width="80">ID</th>
                                    <th>标题</th>
                                    <th>作者</th>
                                    <th width="100">分类</th>
                                    <th>更新时间</th>
                                    <th>状态</th>
                                    <th width="150">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/Content/scripts/article.js"></script>
    <script type="text/javascript">
        var table = null;
        $(function () {
            $(".checkall").click(function () {
                $(".checkchild").attr("")
            })

            //提示信息
            var lang = {
                "sProcessing": "加载中...",
                "sLengthMenu": "每页 _MENU_ 项",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "当前显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项。",
                "sInfoEmpty": "当前显示第 0 至 0 项，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页",
                    "sJump": "跳转"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            };

            table = $('#list').DataTable({
                ajax: {
                    url: '@Url.Action("GetArticles")',
                    type: 'post'
                },
                language: lang,
                aLengthMenu: [20, 50, 100],
                processing: true,
                paging: true,
                searching: false,
                info: true,
                serverSide: true,
                columns: [
                    {
                        data: "Article_Id",
                        render: function (data, type, full, meta) {
                            return '<input type="checkbox"  class="checkchild"  value="' + data + '" />';
                        },
                        sortable: false
                    },
                    { class: "text-center", data: 'Article_Id' },
                    {
                        data: 'Title'
                    },
                    {
                        data: 'Nickname'
                    },
                    {
                        data: 'CategoryName', class: "text-center", render: function (data, type, row, meta) {
                            if (data == null) {
                                return "未分类";
                            }
                            return data;
                        }
                    },
                    {
                        class: "text-center", data: 'Creation_Time', render: function (data, type, row, meta) {
                            data.replace(/Date\([\d+]+\)/, function (a) { eval('d = new ' + a) });
                            return d.format("yyyy-MM-dd hh:mm:ss");
                        }
                    },
                    {
                        data: 'State', class: "text-center", render: function (data, type, row, meta) {
                            if (data == 3) {
                                return '<span class="am-badge am-badge-success">已发布</span>';
                            } else if (data == 2) {
                                return '<span class="am-badge">未审核</span>';
                            } else if (data == 1) {
                                return '<span class="label label-warning radius">草稿</span>';
                            } else if (data == 4) {
                                return '<span class="label label-error radius">未通过</span>';
                            }
                        }
                    },
                    {
                        data: 'Article_Id', class: "text-center", render: function (data, type, row, meta) {
                            var state = row["State"];
                            if (state == 2) {
                                return '<div class="tpl-table-black-operation"><a onclick="article_shenhe(' + data + ')" href="javascript:;"><i class="am-icon-pencil"></i> 审核</a> <a href="javascript:;" onclick="article_delete(' + data + ')" class="tpl-table-black-operation-del"><i class="am-icon-trash"></i> 删除</a></div>';
                            } else {
                                return '<div class="tpl-table-black-operation"><a href="javascript:;" class="tpl-table-black-operation-del"><i class="am-icon-trash"></i> 删除</a></div>';
                            }
                        }
                    }
                ],
                drawCallback: function (settings) {
                    // 高亮显示当前行
                    $(settings.nTable).find("tbody tr").click(function (e) {
                        $(e.target).parents('table').find('tr').removeClass('warning');
                        $(e.target).parents('tr').addClass('warning');
                    });
                },
            });
        })

    </script>
}