@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "文章管理 - 果壳园";
}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 文章管理 <span class="c-gray en">&gt;</span> 文章管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-r">
        文章类型：
        <span class="select-box" style="width:240px">
            <select id="type" class="select">
                <option selected value="0">全部</option>
                <option value="3">已发布</option>
                <option value="2">未审核</option>
                <option value="4">未通过</option>
            </select>
        </span>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
                <i class="Hui-iconfont">&#xe6e2;</i> 批量删除
            </a>
            <a href="javascript:;" onclick="admin_permission_add('添加权限节点','admin-permission-add.html','','310')" class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i> 添加权限节点
            </a>
        </span>
    </div>
    <table class="table table-border table-bordered table-bg" id="list" width="100%">
        <thead>
            <tr>
                <th width="40">
                    <input type="checkbox" class="checkall" />
                </th>
                <th width="80">ID</th>
                <th>标题</th>
                <th width="150">分类</th>
                <th width="150">作者</th>
                <th width="180">更新时间</th>
                <th width="75">状态</th>
                <th width="75">操作</th>
            </tr>
        </thead>
    </table>
</div>
@section script{
    <script src="~/Content/hui-admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script src="~/Content/scripts/article.js"></script>
    <script type="text/javascript">
        $(function () {
            var table = null;
            table = $('#list').DataTable({
                ajax: {
                    url: '@Url.Action("GetBlogs")',
                    type: 'post'
                },
                serverParams: function (aoData) {
                    aoData.type = $("#type").val();
                },
                language: lang,
                aLengthMenu: [10, 20, 50, 100],
                processing: true,
                paging: true,
                searching: false,
                info: true,
                serverSide: true,
                columns: [
                    {
                        data: "Article_Id",
                        render: function (data, type, full, meta) {
                            return '<input type="checkbox"  class="checkchild"  value="' + data + '" />';
                        },
                        sortable: false
                    },
                    { class: "text-c", data: 'Article_Id' },
                    {
                        data: 'Title', render: function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {
                        data: 'CategoryName', class: "text-c", render: function (data, type, row, meta) {
                            if (data == null) {
                                return "未分类";
                            }
                            return data;
                        }
                    },
                    {
                        data: 'Nickname', class: "text-c", render: function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {
                        class: "text-c", data: 'Creation_Time', render: function (data, type, row, meta) {
                            data.replace(/Date\([\d+]+\)/, function (a) { eval('d = new ' + a) });
                            return d.format("yyyy-MM-dd hh:mm:ss");
                        }
                    },
                    {
                        data: 'State', class: "text-c", render: function (data, type, row, meta) {
                            if (data == 3) {
                                return '<span class="label label-primary radius">已发布</span>';
                            } else if (data == 2) {
                                return '<span class="label label-default radius">未审核</span>';
                            } else if (data == 4) {
                                return '<span class="label label-danger radius">未通过</span>';
                            }
                        }
                    },
                    {
                        data: 'Article_Id', class: "text-c", render: function (data, type, row, meta) {
                            return '<div class="tpl-table-black-operation"><a href="javascript:;" onclick="article_delete(' + data + ')" class="tpl-table-black-operation-del"><i class="am-icon-trash"></i> 删除</a></div>';

                        }
                    }
                ],
                drawCallback: function (settings) {
                    // 高亮显示当前行
                    $(settings.nTable).find("tbody tr").click(function (e) {
                        $(e.target).parents('table').find('tr').removeClass('warning');
                        $(e.target).parents('tr').addClass('warning');
                    });
                },
            });

            $("#type").change(function () {
                table.draw();
            })
        })
    </script>
}