@{
    Layout = null;
}
@model Nutshell.Blog.Model.Article
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Post</title>
    <link href="~/Content/kindeditor/themes/default/default.css" rel="stylesheet" />
    <link href="~/Content/kindeditor/plugins/code/prettify.css" rel="stylesheet" />
    <script src="~/Content/kindeditor/kindeditor-all-min.js"></script>
    <script src="~/Content/kindeditor/lang/zh-CN.js"></script>
    <script src="~/Content/kindeditor/plugins/code/prettify.js"></script>
</head>
<body>
    <div>
        <form id="article">

            <input type="text" id="txtTitle" />

            <textarea id="txtBody" cols="100"></textarea>

            <input type="submit" value="提交" id="btnSubmit" />
        </form>
    </div>
    <script src="~/Content/scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Content/scripts/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Content/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/scripts/jquery-validation/jquery.validate.unobtrusive.min.js"></script>

    <script>
        var editor_body = null;
        //function before() {
        //    if (editor_body != null) {
        //        var content = editor_body.text();
        //        console.log(content);
        //        $("#content").val(content);
        //    }
        //}
        KindEditor.ready(function (K) {
            editor_body = K.create("#txtBody", {
                resizeType: 1,
                allowPreviewEmoticons: false,
                allowImageUpload: true,
                uploadJson:"/article/uploadimage",
                items: [
                    'source', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                    'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist', '|', 'emoticons', 'image', 'link'],
                afterCreate: function () {
                    var self = this;
                    $("#btnSubmit").click(function () {
                        console.log(html);
                        //return false;
                    })
                }
            })
        });

        $(function () {
            $("#btnSubmit").click(function () {
                var $title = $("#txtTitle");
                var $body = $("#txtBody");
                if (editor_body != null) {
                    var title = $title.val();
                    var body = editor_body.html();
                    if (title.trim().length > 0 && body.length > 0) {
                        $.post("/article/postArticle", { Title: title, Body: body, Content: editor_body.text() }, function (data) {
                            console.log(data);
                        })
                    }
                }
                return false;
            })
        })
    </script>
</body>
</html>