
@{
    ViewBag.Title = "找回密码 - 果壳园";
    Layout = "~/Areas/Admin/Views/Shared/_AccountLayout.cshtml";
}
<h2 class="title">通过邮箱找回密码</h2>
<div>
    <p>您的注册邮箱为 
        <font color="#dc3c00">@ViewBag.Email</font>
    </p>
    <form>
        <input type="hidden" value="@ViewBag.Email" name="email"/>
        <input type="button" value="找回密码" id="btnSubmit" class="btn-submit" style="margin-left:0px;"/>
    </form>
</div>
@section script{
    <script>
        $(function () {
            var $btnSubmit = $("#btnSubmit");
            $btnSubmit.on('click', function () {
                var email = $("input[name=email]").val();
                console.log(email);
                $.post("/account/forgetPasswordEmail", { email: email }, function (data) {
                    alert(data.msg);
                });
            });
        });
    </script>
}