
@{
    ViewBag.Title = "找回密码 - 果壳园";
    Layout = "~/Areas/Admin/Views/Shared/_AccountLayout.cshtml";
}
@if (ViewBag.Error != null)
{
    <div class="top-error">@ViewBag.Error</div>
}
<h2 class="title">找回密码</h2>
<div>
    <form>
        <div class="ctrl-group">
            <label>登录账号</label>
            <div>
                <input type="text" name="name" id="name" />
            </div>
        </div>
        <div class="ctrl-group">
            <label>验证码</label>
            <div id="code_box">
                <input type="text" name="code" id="txtCode" />
            </div>
            <img id="img_code" title="点击更换验证码" src="/account/getValidCode" alt="验证码加载失败" onclick="changecode()" />
        </div>
        <div class="ctrl-btns">
            <input type="button" id="btnNext" value="下一步" class="btn-submit" />
        </div>
    </form>
</div>
@section script{
    <script>
        $(function () {
            $("#btnNext").on('click', function () {
                var name = $("#name").val();
                var code = $("#txtCode").val();
                $.post("/account/forgetPassword", { name: name, code: code }, function (data) {
                    
                    if (data.code == 0) {
                        location = data.res;
                    } else {
                        alert(data.msg);
                    }
                });
            })
        });

    </script>
}