
@{
    ViewBag.Title = "重置密码 - 果壳园";
    Layout = "~/Areas/Admin/Views/Shared/_AccountLayout.cshtml";
}
<h2 class="title">重置密码</h2>
<div>
    <form>
        <input type="hidden" value="@ViewBag.Active" id="active"/>
        <div class="ctrl-group">
            <label>新密码</label>
            <div>
                <input type="password" name="password" id="password"/>
            </div>
        </div>
        <div class="ctrl-group">
            <label>确认密码</label>
            <div>
                <input type="password" name="repassword" />
            </div>
        </div>
        <div class="ctrl-group">
            <label>验证码</label>
            <div id="code_box">
                <input type="text" name="code"  id="txtCode"/>
            </div>
            <img id="img_code" title="点击更换验证码" src="/account/getValidCode" alt="验证码加载失败" onclick="changecode()" />
        </div>
        <div class="ctrl-btns">
            <input type="button" id="btnSubmit" value="提交" class="btn-submit"/>
        </div>
    </form>
</div>
@section script{
    <script>
        $(function () {
            var $btnSubmit = $("#btnSubmit");
            $btnSubmit.on('click', function () {
                var password = $("#password").val();
                var code = $("#txtCode").val();
                var active = $("#active").val();
                $.post('/account/resetpassword', { active: active, password: password, code: code }, function (data) {
                    alert(data.msg);
                });
            });
        });
    </script>
}