
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Valid</title>
</head>
<body>
    <div> 
        我们已经发送了一条邮件带您的邮箱，请登录邮箱查看
    </div>
</body>
</html>
