
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Desktop</title>
    <link rel="stylesheet" type="text/css" href="~/Content/H-ui.admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/H-ui.admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/H-ui.admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link href="~/Content/treegrid/css/jquery.treegrid.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table id="table1" class="table table-border table-bordered table-bg table-hover">
            <thead>
                <tr class="text-c">
                    <th><input type="checkbox" name="" value=""></th>
                    <th>Id</th>
                    <th>名称</th>
                    <th>上级Id</th>
                    <th>图标</th>
                    <th>排序号</th>
                    <th>说明</th>
                    <th>是否启用</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th>是否最后一项</th>
                </tr>
            </thead>
        </table>
    </div>
    <script type="text/javascript" src="~/Content/H-ui.admin/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/H-ui.admin/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/Content/H-ui.admin/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/H-ui.admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
    <script src="~/Content/treegrid/js/jquery.treegrid.js"></script>
    <script>
        $(function () {
            $("#table1").treegrid({
                  /****************************************表格数据加载****************************************************/
                  "serverSide": true,
                  "ajax": {//ajax请求数据源
                      "url": "/Admin/Power/GetModuleList",
                      "type": "post",
                      "data": function (data) {//添加额外的数据给服务器
                      }
                  },
                  "columns": [//列绑定
                      { "defaultContent": "" },
                      { "data": "PowerName" },
                      { "data": "Url" },
                      { "data": "Description" },
                      { "data": "AddTime" },
                      { "data": "ModifyTime" }
                  ],
                  "columnDefs": [//列定义
                      {
                           "targets": [0],
                           "data": "PowerId",
                           "render": function (data, type, full) {//全部列值可以通过full.列名获取,一般单个列值用data PS:这里的render是有多少列就执行多少次方法。。。不知道为啥
                               return "<input type='checkbox' value='" + data + "' name='id'>";
                           }
                      },
                      {
                           "targets": [4],
                           "data": "AddTime",
                           "render": function (data, type, full) {//全部列值可以通过full.列名获取,一般单个列值用data PS:这里的render是有多少列就执行多少次方法。。。不知道为啥
                               if (data == null || data.trim() == "") { return "/"; }
                               else {
                                    var dateTime = new Date(parseInt(data.replace("/Date(", "").replace(")/", ""), 10));
                                    var month = dateTime.getMonth() + 1 < 10 ? "0" + (dateTime.getMonth() + 1) : dateTime.getMonth() + 1;
                                    var date = dateTime.getDate() < 10 ? "0" + dateTime.getDate() : dateTime.getDate();
                                    return dateTime.getFullYear() + "/" + month + "/" + date;
                               }
                           }
                      },
                      {
                           "targets": [5],
                           "data": "ModifyTime",
                           "render": function (data, type, full) {//全部列值可以通过full.列名获取,一般单个列值用data PS:这里的render是有多少列就执行多少次方法。。。不知道为啥
                               if (data == null || data.trim() == "") { return "/"; }
                               else {
                                    var dateTime = new Date(parseInt(data.replace("/Date(", "").replace(")/", ""), 10));
                                    var month = dateTime.getMonth() + 1 < 10 ? "0" + (dateTime.getMonth() + 1) : dateTime.getMonth() + 1;
                                    var date = dateTime.getDate() < 10 ? "0" + dateTime.getDate() : dateTime.getDate();
                                    return dateTime.getFullYear() + "/" + month + "/" + date;
                               }
                           }
                      },
                  ],
                  "rowCallback": function (row, data, displayIndex) {//行定义
                      if (data.ParentId != "0") {
                           $(row).attr("class", "text-c treegrid-" + data.PowerId + " treegrid-parent-" + data.ParentId);
                      } else {
                           $(row).attr("class", "text-c treegrid-" + data.PowerId);
                      }
                  },
                  "initComplete": function (settings, json) { //表格初始化完成后调用
                      $("#table1").treegrid({
                           "initialState": 'collapsed',
                      });
                  },
                  /****************************************表格数据加载****************************************************/
                  /****************************************表格样式控制****************************************************/
                  "dom": "t<'dataTables_info'il>p",//表格布局
                  "processing": true,//等待加载效果
                  "language": {//语言国际化
                      "lengthMenu": "每页 _MENU_ 条",
                      "zeroRecords": "没有找到记录",
                      "info": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_条",
                      "infoEmpty": "无记录",
                      "paginate":
                      {
                           "first": "首页",
                           "previous": "前一页",
                           "next": "后一页",
                           "last": "末页"
                      },
                      "processing": "表格在努力渲染中......",
                      "loadingRecords": "加载记录中...",//注意该参数在从服务器加载的时候无效，只有Ajax和客户端处理的时候有效
                  },
                  "paging": false,//分页功能
                  "ordering": false,//排序功能
                  "autoWidth": false,//自动宽度（这里关闭后，可以随着左侧的隐藏而扩展页面一起100%宽度）
                  /****************************************表格样式控制****************************************************/
             });
        });
    </script>
</body>
</html>
