<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="~/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/amazeui/assets/i/app-icon72x72@2x.png">
    <link rel="stylesheet" href="~/Content/amazeui/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="~/Content/amazeui/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="~/Content/amazeui/assets/css/app.css">
    <script src="~/Content/amazeui/assets/js/jquery.min.js"></script>
    <script src="~/Content/amazeui/assets/js/amazeui.min.js"></script>
    <link href="~/Content/layer/2.4/skin/layer.css" rel="stylesheet" />
    
    @RenderSection("style",false)
</head>
<body data-type="index">
    <script src="~/Content/amazeui/assets/js/theme.js"></script>
    @RenderBody()
    <script src="~/Content/amazeui/assets/js/amazeui.datatables.min.js"></script>
    <script src="~/Content/amazeui/assets/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/layer/2.4/layer.js"></script>
    <script src="~/Content/scripts/common.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/pushmessage.js"></script>
    @RenderSection("script", false)
</body>
</html>